*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color:antiquewhite;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;

}
.header__logo{
    background-color: aqua;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: blue;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
}
nav ul{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    width: 60%;
    height: 100%;
    list-style: none;
    background-color:cadetblue;
}
nav li:hover{
    background-color: chocolate;
    width:100% ;
}
a{
    color: aliceblue;
    text-decoration: none;
}
main{
    width: 100%;
    height: 700px;
    background: linear-gradient(90deg, rgba(245,231,38,1) 0%, rgba(97,200,174,1) 65%);
    display: flex;
    flex-direction:column;  
    justify-content: center;
    align-items: center;
}
.main__slider{
    width: 80%;
    height: 60%;
    background-color: chartreuse;
    animation: acorden 2s infinite;
    animation-play-state: paused;
}
.main__slider:hover{
    animation-play-state: running;
}
@keyframes acorden{
    0%{
        width: 10%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 10%;
    }
}

.main__footer{
    width: 80%;
    height: 40%;
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.main__miniimagen{
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 90%;
    height: 90%;
    background-color: beige;

}
.main__miniimagen h3{
    position: relative;
    bottom:100px;
    right: 50px;
}